<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
        <title>Blub</title>
    </head>

    <body>
        <div style="width:100%; height:50px; background-color:#c6e0ff " ></div>
        <h2 style=" text-decoration:underline; text-align:center">Willkommen bei AN-app</h2>
        <p>  </p>
        <p style=" text-align:center ">Mit AN-app kannst du ganz einfach mit wenigen Klicks deinen Ausbildungsnachweis erstellen und ausdrucken. </p>
        <p style=" text-align:center ">Falls du Fragen oder Probleme hast kannst du uns jederzeit eine E-mail schicken damit wir uns darum kümmern können.</p>
        <div style="width:100%; height:100px; background-color:#c6e0ff " ></div>
    </body>
</html>